html body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
}


/* Images */
.yui3-img-eliptical,
.yui3-img-rounded {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);       
}
.yui3-img-eliptical {
	border-radius: 50%;
}
.yui3-img-rounded {
	border-radius: 3px;
}
.yui3-img-bordered {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);   
    border-radius: 3px;
}


/* Thumbnails */
.yui3-thumbnails li{
    text-align: center;
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    vertical-align: top;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    padding: 0.5em;        
}
.yui3-thumbnails{
    list-style: none;
    margin: 0;
    padding: 0;
}

.copy-paste-delete-me {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
}

.yui3-thumbnails a:focus {
    outline: 0 none;   
}
.yui3-thumb-eliptical,
.yui3-thumb-rounded,
.yui3-thumb-bordered {
    display: table-caption;
    text-decoration: none;
    color: inherit;
}
.yui3-thumb-eliptical img,
.yui3-thumb-rounded img{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s;   
}
.yui3-thumb-eliptical:hover img,
.yui3-thumb-rounded:hover img{
    box-shadow: 0 0 5px rgba(17, 175, 237, 0.5);   
}
.yui3-thumbnails .yui3-thumb-bordered img {
    margin: 5px 5px 0;
}
.yui3-thumb-bordered {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);   
    transition: box-shadow 0.2s;
}
.yui3-thumbnails .caption {
    text-align: left;
    display: block;
    margin: 0 5px 6px;

}
.yui3-thumbnails .caption p{
    margin: 0.3em 0 0;
    font-size: 75%;
}
.yui3-thumbnails .caption h3{
    font-weight: 500;
    font-size: 90%;
}
.yui3-thumb-bordered:hover {    
    box-shadow: 0 0 5px rgba(17, 175, 237, 0.5);   
}
.yui3-thumb-eliptical img{
	border-radius: 50%;
}
.yui3-thumb-rounded img{
	border-radius: 3px;
}

/* Code */
code, pre {
    background-color: #eeeeee;
    border: 1px solid #DCDCDC;
    border-radius: 3px 3px 3px 3px;
    color: #1D7612;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 83%;
}
code {
    padding: 0.1em 0.2em 0.15em;
    white-space: nowrap;
}
pre {
    border-radius: 4px 4px 4px 4px;
    display: block;
    line-height: 1.3em;
    margin: 0.3em 0;
    padding: 0.3em 0.6em;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

/* Badges/Pills */
.badge {
    border-radius: 3em; 
    padding: 0.6em 0.9em;
    background-color: #999999;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}
.badge-important {
    background-color: #B94A48;
}
.badge-warning {
    background-color: #F89406;
}
.badge-success {
    background-color: #468847;
}
.badge-info {
    background-color: #3A87AD;
}
.badge-inverse {
    background-color: #333333;
}

/* Alerts */
.alert-container {
    background-color: #73788E;
    padding: 2em 0 1em;
    margin-bottom: 1em;
}
.alert {
    position: relative;
    background-color: #FCF8E3;
    margin-bottom: 20px;
    padding: 1em 100px;
    font-size: 75%;
    font-weight: 500;
    white-space: nowrap;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    67c0d7
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.10) 0%, rgba(255,255,255,0) 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.31)), color-stop(50%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.10) 0%,rgba(255,255,255,0) 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.10) 0%,rgba(255,255,255,0) 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.10) 0%,rgba(255,255,255,0) 50%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.10) 0%,rgba(255,255,255,0) 50%); /* W3C */
    box-shadow: 0 3px 3px rgba(0,0,0,0.28);
}
.alert, .alert h4 {
    color: #C09853;
}
.alert h4 {
    margin: 0;
}
.alert label {
    display: inline-block;
    width: 150px;
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    white-space: nowrap;
}
/*button.close {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}*/

.alert-subtle {
    background-color: #CECFD3;
/*    border-color: #D6E9C6;
*/    color: #5B5B5B;
}
.alert-urgent {
    background-color: #D13C38;
/*    border-color: #EED3D7;
*/    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);

}
.alert-normal {
    background-color: #6ACFE9;
/*    border-color: #BCE8F1;
*/    color: #2e2e2e;
}
