html body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
}


/* Images */
.yui3-img-eliptical,
.yui3-img-rounded {
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.5);       
}
.yui3-img-eliptical {
	border-radius: 80%;
}
.yui3-img-rounded {
	border-radius: 3px;
}
.yui3-img-bordered {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);   
    border-radius: 3px;
}


/* Thumbnails */
.yui3-thumbnails li{
    text-align: center;
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    vertical-align: top;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    padding: 0.5em;        
}
.yui3-thumbnails{
    list-style: none;
    margin: 0;
    padding: 0;
}

.copy-paste-delete-me {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
}

.yui3-thumbnails a:focus {
    outline: 0 none;   
}
.yui3-thumb-eliptical,
.yui3-thumb-rounded,
.yui3-thumb-bordered {
    display: table-caption;
    text-decoration: none;
    color: inherit;
}
.yui3-thumb-eliptical img,
.yui3-thumb-rounded img{
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s;   
}
.yui3-thumb-eliptical:hover img,
.yui3-thumb-rounded:hover img{
    box-shadow: 0 0 5px rgba(17, 175, 237, 0.2);   
}
.yui3-thumbnails .yui3-thumb-bordered img {
    margin: 5px 5px 0;
}
.yui3-thumb-bordered {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);   
    transition: box-shadow 0.2s;
}
.yui3-thumbnails .caption {
    text-align: left;
    display: block;
    margin: 0 5px 6px;

}
.yui3-thumbnails .caption p{
    margin: 0.3em 0 0;
    font-size: 75%;
}
.yui3-thumbnails .caption h3{
    font-weight: 500;
    font-size: 90%;
    margin: 0;
    line-height: 1.2em;
}
.yui3-thumb-bordered:hover {    
    box-shadow: 0 0 5px rgba(17, 175, 237, 0.5);   
}
.yui3-thumb-eliptical img{
	border-radius: 50%;
}
.yui3-thumb-rounded img{
	border-radius: 3px;
}

/* Code */
code, pre {
    background-color: #eeeeee;
    border: 1px solid #DCDCDC;
    border-radius: 3px 3px 3px 3px;
    color: #1D7612;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 83%;
}
code {
    padding: 0.1em 0.2em 0.15em;
    white-space: nowrap;
}
pre {
    border-radius: 4px 4px 4px 4px;
    display: block;
    line-height: 1.3em;
    margin: 0.3em 0;
    padding: 0.3em 0.6em;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

/* Badges/Pills */
.badge,
.badge-important,
.badge-warning,
.badge-success,
.badge-info,
.badge-inverse {
    border-radius: 3em; 
    padding: 0.55em 0.9em 0.65em;
    background-color: #9D988E;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 1.2em;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}
.badge-important {
    background-color: #C95C35;
}
.badge-warning {
    background-color: #E78C05;
}
.badge-success {
    background-color: #5F9860;
}
.badge-info {
    background-color: #437AC6;
}
.badge-inverse {
    background-color: #4D370C;
}

/* Alerts */
.alert,
.alert-subtle,
.alert-urgent,
.alert-normal {
    position: relative;
    margin-bottom: 20px;
    padding: 1em 100px;
    font-size: 75%;
    font-weight: 500;
    white-space: nowrap;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    67c0d7
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.10) 0%, rgba(255,255,255,0) 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.31)), color-stop(50%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.10) 0%,rgba(255,255,255,0) 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.10) 0%,rgba(255,255,255,0) 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.10) 0%,rgba(255,255,255,0) 50%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.10) 0%,rgba(255,255,255,0) 50%); /* W3C */
    box-shadow: 0 3px 3px rgba(0,0,0,0.28);
}
.alert label,
.alert-subtle label,
.alert-urgent label,
.alert-normal label {
    display: inline-block;
    width: 150px;
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    white-space: nowrap;
}
.alert,
.alert-subtle {
    background-color: #CECFD3;
    color: #5B5B5B;
}
.alert-urgent {
    background-color: #D13C38;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);

}
.alert-normal {
    background-color: #6ACFE9;
    color: #2e2e2e;
}


/* Contextual Modals */

.yui3-popover {
    position: relative;
    width: 300px;
    background-color: #f0f1f3;
    color: #2f3034;
    text-shadow: 1px 1px 1px #ebecef;
    padding: 15px;
    border: 1px solid #ccc;
    border: 1px solid #bfc0c8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    box-padding: border-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.yui3-arrow-border, .yui3-arrow {
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
}


/* POPOVER ARROW POSITIONING BOTTOM */

.yui3-popover.bottom .yui3-arrow-border {
    border-color: #bfc0c8 transparent transparent transparent;
    bottom: -20px;
    left: 50%;
}
.yui3-popover.bottom .yui3-arrow {
    border-color: #f0f1f3 transparent transparent transparent; 
    bottom:-19px;
    left: 50%;
}

.yui3-arrow-border {

}

/* POPOVER ARROW POSITIONING TOP*/

.yui3-popover.top .yui3-arrow-border {
    border-color: transparent transparent #bfc0c8 transparent;
    top: -21px;
    left: 50%;
}
.yui3-popover.top .yui3-arrow {
    border-color: transparent transparent #f0f1f3 transparent; 
    top:-20px;
    left: 50%;
}

/* POPOVER ARROW POSITIONING RIGHT*/

.yui3-popover.right .yui3-arrow-border {
    border-color: transparent transparent transparent #bfc0c8;
    top: 45%;
    right: -21px;
}
.yui3-popover.right .yui3-arrow {
    border-color: transparent transparent transparent #f0f1f3; 
    top:45%;
    right: -20px;
}


/* POPOVER ARROW POSITIONING LEFT*/

.yui3-popover.left .yui3-arrow-border {
    border-color: transparent #bfc0c8 transparent transparent;
    top: 45%;
    left: -21px;
}
.yui3-popover.left .yui3-arrow {
    border-color: transparent #f0f1f3 transparent transparent; 
    top:45%;
    left: -20px;
}
