
a.yui3-button {
	border-radius:1px;
	padding: .5em 2.2em .55em;
}


.yui3-button.block {
    display: block;
}

.yui3-button.small {
	padding: .6em 2em .65em;
	font-size:70%;
}
.yui3-button.large {
	padding: .8em 5em .9em;
	font-size:110%;
}
a.yui3-button.primary {
	color: #fff;
    background: #3bacf8;
    text-shadow: 1px 1px 1px #3598db;
}

a.yui3-button.error {
	color: #fff;
    background: #e11e46;
    text-shadow: 1px 1px 1px #b31b3a;
}
